@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;800&display=swap');

body {
  margin: 0;
  font-family: Kanit, sans-serif;
  position: relative; /* Ensure relative positioning for overlay container */
}

nav {
    background-color: #415a77;
    padding: 10px 20px; /* Add padding to give space around the logo */
    display: flex; /* Make the navigation bar a flex container */
    align-items: center; /* Center align items vertically */
    z-index: 2; /* Ensure it's above the overlay image */
  }
  
  nav img {
    height: 40px; /* Adjust the height of the logo */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Make the list items flex items */
    margin-left: auto; /* Move the list items to the right */
  }
  
  nav ul li {
    margin-right: 50px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }

  .hero {
    background-color: #0d1b2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px); /* Adjusting for the height of the navigation bar */
    z-index: 2; /* Ensure it's above the overlay image */
  }
  
h1{
    color: #e0e1dd;
    text-align:center ;
}


footer {
    background-color: #415a77;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  footer p {
    margin: 0;
  }